body {
   background-image: url("gaming-setup-1000x600.jpg");
}

h1 {
  color: rgb(120, 120, 120);
  margin-left: 20px;
}
#Gamingroom {
  padding: 10px;
  background: #FFF;
  width: 150px;
}
<img src="gaming-setup-1000x600.jpg" width="300">
